<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" id="home" href="/adminrights">HOME</a>
        <a class="mdl-navigation__link" id="about" href="/about">ABOUT</a>
        <ul>
          <li>
            <a class="mdl-navigation__link" id="category">CATEGORIES</a>
            <ul>
              <li><a href="#">ACTION</a></li>
              <li><a href="#">ROMANCE</a></li>
              <li><a href="#">AIDS</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <a class="mdl-navigation__link" id="archive">ARCHIVE</a>
            <ul>
              <li><a href="#">JULY 2016</a></li>
              <li><a href="#">MAY 2016</a></li>
              <li><a href="#">APRIL 2015</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
      <form action="/admin/logout" method="post">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          LOG OUT
        </button>
      </form>
    </div>
  </header>
</div>

<div class="collage">
  <img src="/img/collage.png">
  <form action="/post/post" method="post">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      NEW
    </button>
  </form>
</div>

<div class="inlägg">
  <h4><%= @post.title %></h4>
  <h6><%= @post.category %></h6>
  <p class="content"><%= @post.content %></p>
</div>

<% for comment in @post.comments %>
   <div class="comment">
    <ul class="demo-list-three mdl-list comment-list">
      <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span><%= comment.name %></span>
      <span class="mdl-list__item-text-body">
        <%= comment.content %>
      </span>
    </span>
      </li>
    </ul>
   </div>
<% end %>

<div id="comment">
  <h4>COMMENT</h4>
  <form action="/comment/<%= @post.id %>/comment" method="post">
    <input type="text" name="email" placeholder="EMAIL*">
    <input type="text" name="name" placeholder="NAME*">
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input" type="text" rows= "3" id="content" name="content"></textarea>
      <label class="mdl-textfield__label" for="content">CONTENT</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      COMMENT
    </button>
  </form>
</div>