<div>
  <form action="/post/<%= @post.id %>/edit" method="post">
    <input type="text" name="title" placeholder="TITLE">
    <textarea name="content" placeholder="CONTENT"></textarea>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      EDIT
    </button>
  </form>
  <form action="/post/<%= @post.id %>/delete" method="post">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-post-id="<%= @post.id %>" type="submit">
      REMOVE POST
    </button>
  </form>
  <div class="inlägg">
    <h4><%= @post.title %></h4>
    <h6><%= @post.category %></h6>
    <p class="content"><%= @post.content %></p>
  </div>
</div>

