<div>
  <form action="/post/<%= @post.id %>/edit" method="post">
  <input type="text" name="title">
  <h4>IMAGE</h4>
  <button class="mdl-button mdl-js-button mdl-button--fab">
    <i class="material-icons">add</i>
  </button>
  <textarea name="content"></textarea>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      EDIT
    </button>
  </form>
  <form action="/post/<%= @post.id %>/delete" method="post">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-post-id="<%= @post.id %>" type="submit">
      REMOVE POST
    </button>
  </form>
  <h4><%= @post.title %></h4>
  <p id="content"><%= @post.content %></p>
  <p>COMMENT</p>
</div>

