<form action="/post/create" method="post" >
  <input type="text" name="title">
  <br>
  <textarea name="content"></textarea>
  <br>
  <button type="submit">Send message!</button>
</form>
<% for post in @posts %>
    <div data-post-id="<%= post.id %>" class="post">
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>
    </div>
    <form action="/post/<%= post.id %>/delete" method="post">
      <button class="remove" data-post-id="<%= post.id %>" type="submit">Ta bort horan</button>
    </form>
<% end %>